.menu-header {
    display: grid;
    grid-template-columns: 350px 1fr auto;
    align-items: center;
    background-color: #0f1316;
    padding: 0 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    z-index: 20;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    gap: 90px;
}

.logo {
 display: flex;
}

.logo img {
    height: 60px;
    display: block;
    margin: 0;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.menu-bar-itens {
  display: flex;
  gap: 30px;
}
.menu-bar-itens button {
  font-size: 18px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}
.menu-bar-itens button:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.menu-bar-itens a {
  text-decoration: none;
  color: white;
}

.Icones ul {
  display: flex;
  gap: 15px;
  list-style: none;
}
.Icones ul li img {
  height: 30px;
  transition: transform 0.3s ease;
}
.Icones ul li:hover img {
  transform: scale(1.3);
}

.botao_menu{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.seta{
    width: 30px;
    height: 5px;
    color: white;
    background-color: #00ffff;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 2px; 
}

.menuAberto .seta1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.menuAberto .seta2 {
  opacity: 0;
}

.menuAberto .seta3 {
  transform: rotate(-45deg) translate(7px, -6px);
}

.backdrop {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* fundo semi-transparente */
  z-index: 1000;
}

.menu_lateral {
  position: fixed;
  top: 0;
  left: -250px;
  width: 220px;
  height: 100vh;
  background-color: #0d0d1f;
  color: white;
  padding: 2rem;
  transition: left 0.3s ease;
}

.menu_lateral.aberto {
  left: 0;
}
