<header>
  <app-menu-bar></app-menu-bar>
</header>

<!-- ============================
=========  big card  ============ 
============================= -->


<div class="menu-title-wrapper">
  <button class="scroll-btn left" (click)="scrollLeftMenuTitle()">←</button>

  <div #menuTitleRolante class="menu-title-rolante">
    <div *ngFor="let noticia of bigCards">
        <a [routerLink]="['/noticia', noticia.id]">
            <app-menu-title 
                [photoCover]="noticia.imagemUrl" 
                [cardName]="noticia.subcategoria" 
                [cardData]="noticia.dataPublicacao"
                [cardTitle]="noticia.titulo"
                [cardDescription]="noticia.texto"
            />
        </a>
    </div>
  </div>
  <button class="scroll-btn right" (click)="scrollRightMenuTitle()">→</button>
</div>

<!-- ============================
=========  Ultimas noticias  ============ 
============================= -->

<div class="titulo-news">
    <h1>ULTIMAS NOTICIAS</h1>
</div>
    <div class="botoes-categorias">
        <button (click)="filtrarNoticias('todos')" class="categoria-todos">TODOS</button>
        <button (click)="filtrarNoticias('Anime')" class="categoria-anime">ANIME</button>
        <button (click)="filtrarNoticias('Manga')" class="categoria-manga">MANGA</button>
        <button (click)="filtrarNoticias('Gamer')" class="categoria-gamer">GAMER</button>
    </div>

<div class="news-container">

    <button (click)="scrollLeft()" class="buttom-ante">←</button>
    <div #newsRolante class="news__rolante">
        <div *ngFor="let noticia of ultimasNoticias">
            <a [routerLink]="['/noticia', noticia.id]">
                <app-ultimas-noticias
                    [photoCover]="noticia.imagemUrl"
                    [cardName]="noticia.subcategoria"
                    [cardData]="noticia.dataPublicacao"
                    [cardDescription]="noticia.titulo"
                    [cardCategory]="noticia.categoria"
                ></app-ultimas-noticias>
            </a>
        </div>
    </div>
    <button (click)="scrollRight()" class="buttom-prox">→</button>
</div>


<div class="card-big">
    <button (click)="scrollLeftBigCard()" class="buttom-ante-big">←</button>
    <div #bigNewsContainer class="big-news">
        <div *ngFor="let noticia of bigNewsCard">
            <a [routerLink]="['/noticia', noticia.id]">
            <app-big-card
                [photoCover]="noticia.imagemUrl"
                [bigTitle]="noticia.titulo"
                [cardName]="noticia.subcategoria"
                [cardData]="noticia.dataPublicacao">
            </app-big-card>
            </a>
        </div>
    </div>

    <button (click)="scrollRightBigCard()" class="buttom-prox-big">→</button>


    <div class="big-news-vertical">
        <div class="news-one-vertical">
            <button (click)="scrollUp('newsFourt')" class="buttom-up">▲</button>
            <div class="title-one">
            <h1 class="background">MANHWA</h1>
            </div>
            <div #newsFourt class="news-scroll">
            <!-- Primeiro iteramos pelas subcategorias -->
                <div *ngIf="noticiasPorCategoria['Manhwa']">
                    <div *ngFor="let sub of objectKeys(noticiasPorCategoria['Manhwa'])">
                        <!-- Agora iteramos pelas notícias dentro da subcategoria -->
                        <div *ngFor="let noticia of noticiasPorCategoria['Manhwa'][sub]">
                            <a [routerLink]="['/noticia', noticia.id]">
                                <app-noticias-vertical
                                [photoNews]="noticia.imagemUrl"
                                [titleNews]="noticia.titulo"
                                [cardName]="noticia.subcategoria"
                                [cardData]="noticia.dataPublicacao"
                                ></app-noticias-vertical>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button (click)="scrollDown('newsFourt')" class="buttom-down">▼</button>
        </div>
    </div>
</div>

<div class="news-vertical">
    <!-- MANGA -->
    <div class="news-one">
        <div class="title-one">
        <h1 class="background">MANGA</h1>
        </div>
        <button (click)="scrollUp('newsOne')" class="buttom-up">▲</button>
        <div #newsOne class="news-scroll">
            <div *ngIf="noticiasPorCategoria['Manga']">
                <div *ngFor="let sub of objectKeys(noticiasPorCategoria['Manga'])">
                    <div *ngFor="let noticia of noticiasPorCategoria['Manga'][sub]">
                        <a [routerLink]="['/noticia', noticia.id]">
                            <app-noticias-vertical
                                [photoNews]="noticia.imagemUrl"
                                [titleNews]="noticia.titulo"
                                [cardName]="noticia.subcategoria"
                                [cardData]="noticia.dataPublicacao"
                            ></app-noticias-vertical>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button (click)="scrollDown('newsOne')" class="buttom-down">▼</button>
    </div>

  <!-- GAMER -->
    <div class="news-two">
        <button (click)="scrollUp('newsTwo')" class="buttom-up">▲</button>
        <div class="title-two">
        <h1 class="background">GAMER</h1>
        </div>
        <div #newsTwo class="news-scroll">
            <div *ngIf="noticiasPorCategoria['Gamer']">
                <div *ngFor="let sub of objectKeys(noticiasPorCategoria['Gamer'])">
                    <div *ngFor="let noticia of noticiasPorCategoria['Gamer'][sub]">
                        <a [routerLink]="['/noticia', noticia.id]">
                            <app-noticias-vertical
                                [photoNews]="noticia.imagemUrl"
                                [titleNews]="noticia.titulo"
                                [cardName]="noticia.subcategoria"
                                [cardData]="noticia.dataPublicacao"
                            ></app-noticias-vertical>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button (click)="scrollDown('newsTwo')" class="buttom-down">▼</button>
    </div>

  <!-- ANIME -->
    <div class="news-tree">
        <button (click)="scrollUp('newsTree')" class="buttom-up">▲</button>
        <div class="title-tree">
        <h1 class="background">ANIME</h1>
        </div>
        <div #newsTree class="news-scroll">
            <div *ngIf="noticiasPorCategoria['Anime']">
                <div *ngFor="let sub of objectKeys(noticiasPorCategoria['Anime'])">
                    <div *ngFor="let noticia of noticiasPorCategoria['Anime'][sub]">
                        <a [routerLink]="['/noticia', noticia.id]">
                            <app-noticias-vertical     
                                [photoNews]="noticia.imagemUrl"
                                [titleNews]="noticia.titulo"
                                [cardName]="noticia.subcategoria"
                                [cardData]="noticia.dataPublicacao"
                            ></app-noticias-vertical>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button (click)="scrollDown('newsTree')" class="buttom-down">▼</button>
    </div>
</div>

<app-rodape></app-rodape>
