<footer class="footer">
  <div class="footer-content">

    <p>
      Muito bem-vindo ao Anime No Kisetsu! Fique por dentro de todas as novidades e atualizações sobre anime, mangá, games, light novels e muito mais, pois este é o lugar certo para alimentar sua paixão pelo universo otaku. O site foi pensado para trazer até você insights valiosos sobre os lançamentos de Animes Online. Então, venha se juntar a nós nessa jornada emocionante pelo mundo da animação japonesa! Em conclusão, aqui no site Anime No Kisetsu, é onde as histórias se encontram com as notícias, elevando sua experiência otaku para o próximo nível.
    </p>

    <hr>

    <nav class="footer-links">
      <a href="https://bing.com/search?q=GitHub+profile+namejoao46" target="_blank">
        <img src="https://img.icons8.com/?size=100&id=12599&format=png&color=FFFFFF" alt="GitHub">
      </a> |

      <a href="https://www.linkedin.com/in/joaopauloavs" target="_blank">
        <img src="https://img.icons8.com/?size=100&id=8808&format=png&color=FFFFFF" alt="Linkedin">
      </a> |

      <a href="mailto:paulo.joao.avs@gmail.com">
        <img src="https://img.icons8.com/?size=100&id=38158&format=png&color=FFFFFF" alt="Gmail">
      </a>
    </nav>

    <hr>

    <p>&copy; 2025 João Paulo | Todas as imagens e notícias pertencem aos respectivos proprietários</p>
  </div>
</footer>