.conteiner {
  min-height: 755px;
  /*background-image: linear-gradient(
    90deg,
    black 0%,
    black 11.11%,
    #ff5c00 11.11%,
    #ff5c00 22.22%,
    black 22.22%,
    black 33.33%,
    #a2ff00 33.33%,
    #a2ff00 44.44%,
    black 44.44%,
    black 55.55%,
    #007bff 55.55%,
    #007bff 66.66%,
    black 66.66%,
    black 77.77%,
    #ff00aa 77.77%,
    #ff00aa 88.88%,
    black 88.88%,
    black 100%
  );*/
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.login{
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}