.container{
    max-width: 1700px;
    margin: 0 auto;
    top: 52px;
    padding: 20px;
    min-height: 100vh;
    overflow-y: visible;
    z-index: 2;
    font-family: 'Segoe UI', sans-serif;
}
.container_noticia{
    width: 900px;
    padding-left: 50px;
}

.breadcrumb{
    font-size: 14px;
    margin-bottom: 20px;
    color: #131617;
}

.breadcrumb a{
    text-decoration: none;
    color: #00ffff;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.noticia {
    background: #888;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.titulo {
    font-size: 28px;
    margin-bottom: 15px;
    color: #222;
}

.img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 20px;
}

.texto{
    font-size: 16px;
    line-height: 1.6;
    color: #131617;
}

.meta{
    display: block;
    margin-top: 15px;
    font-size: 13px;
    color: #131617;
}