*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    position: relative;
    height: 100%;
    background-color: #0d1117;
    z-index: 0;
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.folhas {
    position: relative;
    display: flex;
    z-index: 1;
}

.folhas span {
    position: relative;
    width: 40px;
    height: 60px;
    margin: 0 6px;
    border-radius: 50% 50% 50% 50% / 70% 70% 30% 30%;
    transform: rotate(-45deg);
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.folha.orange {
  background: linear-gradient(135deg, #ff5c00, #ffb700);
  box-shadow: 0 0 0 10px #ff5c0044,
               0 0 50px #ff5c00,
               0 0 100px #ff5c00;
}

.folha.green {
  background: linear-gradient(135deg, #a2ff00, #00ffd5);
  box-shadow: 0 0 0 10px #a2ff0044,
               0 0 50px #a2ff00,
               0 0 100px #fdd835;
}

.folha.blue {
  background: linear-gradient(135deg, #007bff, #7a00ff);
  box-shadow: 0 0 0 10px #007bff44,
               0 0 50px #007bff,
               0 0 100px #007bff;
}

.folha.pink {
  background: linear-gradient(135deg, #ff00aa, #ff6633);
  box-shadow: 0 0 0 10px #ff00aa44,
               0 0 50px #ff00aa,
               0 0 100px #ff00aa;
}

@keyframes animate{
    0%
    {
        transform: translateY(-10vh) scale(1);
    }
    100%
    {
        transform: translateY(100vh) scale(0);
    }
}