.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 590px;
  width: 1430px;
  border-radius: 50px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.blur-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 85%);
  backdrop-filter: blur(1.7px);
  z-index: 0;
}

.bottom-more {
  position: absolute;
  bottom: 50px;
  right: 80px;
}

.bottom-more button {
  padding: 10px 20px;
  background-color: #333;
  color: #00ffff;
  border: none;
  border-radius: 10px 25px 10px 25px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease, z-index 0.3s ease;
}

.bottom-more button:hover {
  background-color: #ff9900;
  color: black;
  transform: scale(1.1);
  z-index: 10;
}

h1, a {
  all: unset;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
}

.name {
  font-size: 16px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px 15px 5px 15px;
  color: white;
  max-width: fit-content;
}

.data {
  font-size: 20px;
  font-weight: bold;
  color: #00ffff;
  margin-top: 5px;
}

.title-noticia {
  font-size: 35px;
  font-weight: bold;
  color: #121316;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  max-width: 650px;
  word-wrap: break-word;
}

.text {
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  max-width: 650px;
}

.text a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Chrome/Safari/Edge */
  line-clamp: 3;         /* padrão futuro */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.title-noticia a, .text a, .name a {
  text-decoration: none !important;
  background: none !important;
}